body{
    font-family: Intel, Helvetica, sans-serif;
}
.our-work{
    display: flex;
    flex-direction: column;
    background-color: #dd2b23;
    height: 231px;

}
.our-work div h1{
    color: #ffffff;
    text-align: center;
    font-size: 36px;
    padding-top: 110px;
    margin: 0;

}
.our-work p{
    color: #ffffff;
    text-align: center;
    padding-top: 0px;
    margin: 0px;
}

.strip{
    background-color: #DD2B23;
}
.strip div{
    border: none;
    background-color: #ffffff;
    color: white;
    height: 6px;
    width: 48px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.main{
    background-color: #dd2b23;
    padding-bottom: 130px;
}
.table{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #dd2b23;
    padding-top: 16px;
    max-width: 1200px;
    margin: auto;
}

.box {
    display: flex;
    width: 256px;
    height: 256px;
    text-align: -webkit-center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #f35e58;
}

.box a img {
    object-fit: cover;
    width: auto;
    height: 100%;
}
.box-link{
    width: 256px;
    height: 256px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.box-link img:hover{
    transition: 1s;
    width: 110%;
    height: 110%;
    overflow: hidden;
}

.box i img{
    height: 37px;
    width: 36px;
    margin-bottom: 25px;
}
.box p{
    color: white;
    font-weight: bold;
    margin: 0;
}
.box i + p{
    font-size: 29px;
}

.facebook-analysis{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #1187bf;
    height: 849px;
}
.title-facebook-analysis{
    padding-top: 100px;
    color: #ffffff;
    text-align: center;
}
.title-facebook-analysis p:first-child{
    font-size: 36px;
    padding-top: 0px;
    margin: 0px;
    font-weight: bold;
}
.title-facebook-analysis p{
    margin: 0px;
}

.close-button {
    position: absolute;
    right: -375px;
    margin: 10px auto 20px auto;
    width: 46px;
    height: 46px;
    background: #dd2b23;
    border-radius:50%;
    cursor:pointer;
    border: 2px solid white;
}

.close-button:hover{
    background: rgb(232,95,76);
}
.close-button:before {
    position:absolute;
    content:"";
    width:24px;
    height:2px;
    left: 11px;
    top: 22px;
    background: white;
    transform:rotate(45deg);
    transition:0.2s;
}
.close-button:after {
    position:absolute;
    content:"";
    width:24px;
    height:2px;
    right:11px;
    top:22px;
    background: white;
    transform:rotate(-45deg);
    transition:0.2s;
}

.cl-btn {
    position: relative;
    margin: 10px auto 20px auto;
    width: 60px;
    height: 60px;
    background: #1187bf;
    border-radius:50%;
    cursor:pointer;
    border: 3px solid white;
}
.cl-btn:before {
    position:absolute;
    content:"";
    width:21px;
    height:3px;
    left: 13px;
    top: 30px;
    background: white;
    transform:rotate(45deg);
    transition:0.2s;
}
.cl-btn:after {
    position:absolute;
    content:"";
    width:21px;
    height:3px;
    right:13px;
    top:30px;
    background: white;
    transform:rotate(-45deg);
    transition:0.2s;
}
.cl-btn-txt {
    position:relative;
    text-align:center;
    padding-top:25px;
    color:#fff;
    font-family:Roboto;
}

.arrow-up {
    position: relative;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid white;
    margin: auto;
    margin-bottom: -50px;
    border-radius: 4px;

}

.basic-text-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 479px;
}
.text-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    height: 400px;
    margin: auto;
    background-color: white;
    border-radius: 4px;
    border: 1px solid white;
}
@media only screen and (max-width: 750px){
    .text-field{
        max-width: 600px;
    }
}
@media only screen and (max-width: 750px) {
    .close-button{
        right: -325px;
    }
}
@media only screen and (max-width: 600px){
    .text-field{
        max-width: 500px;
    }
}
@media only screen and (max-width: 600px) {
    .close-button{
        right: -275px;
    }
}
@media only screen and (max-width: 750px) {
    .input-email{
        max-width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .input-email{
        max-width: 500px;
    }
}


    .text-field div:first-child{
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}
.text-field div p{
    text-align: center;
    width: 80%;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
}
.input-name{
    margin-top: 20px;
}
.input-name,
.input-number,
.input-company{
    width: 100%;
    height: 51px;
    margin-left: auto;
    margin-right: auto;
}
.input-company{
    margin-bottom: 25px;
}
form{
    width: 60%;
    margin: auto;
}
input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=text]:focus {
    box-shadow: 2px 2px 2px 2px grey;
}

.box-button-submit{
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    text-align: center;
}
.button-submit{
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: .8em 1.5em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button-submit:hover{
    background: rgb(232,95,76);
}

.box-get-in-touch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2a2a2a;
    height: 491px;
}

.get-in-touch p{
    font-size: 29px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 0px;
}
.box-social-network{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.fb,
.tw,
.gl,
.ln{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    border: 3px solid #515151;
    border-radius: 4px;
    margin-left: 23px;
}
.fb:hover{
    border: 3px solid #DD2B23;
}
.tw:hover{
    border: 3px solid #DD2B23;
}
.gl:hover{
    border: 3px solid #DD2B23;
}
.ln:hover{
    border: 3px solid #DD2B23;
}
.subsr p{
    font-size: 14px;
    padding-top: 25px;
    color: #c3c3c3;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
}
.input-email{
    width: 700px;
    height: 91px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 0px;
}
.input-email form{
    width: 100%;
}
.input-email input[type=text]{
    padding: 20px 0 20px 0;
    border: 1px solid #515151;
    border-radius: 4px;
    resize: vertical;
    background-color: #515151;
    color: #afafaf;
    font-weight: lighter;
}
.but-subscribe{
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}
.btn-subscribe{
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #2a2a2a;
    padding: .8em 1.5em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #515151;
    border-radius: 4px;
}
.button-submit:hover{
    border: 1px solid #dd2b23;
}

.footer{
    background-color: #515151;
    height: 68px;
    position: relative;
}
.footer p{
    width: 275px;
    font-size: 14px;
    color: #c3c3c3;
    font-weight: normal;
    margin: auto;
    text-align: center;
    line-height: 65px;

}
